runs/Dec12_17-58-38_yijie-Lenovo-Y700P-14/events.out.tfevents.1544608718.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-10_yijie-Lenovo-Y700P-14/events.out.tfevents.1544608690.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-10_yijie-Lenovo-Y700P-14/data/scalar_group/arctanx/events.out.tfevents.1544608690.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-10_yijie-Lenovo-Y700P-14/data/scalar_group/xcosx/events.out.tfevents.1544608690.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-10_yijie-Lenovo-Y700P-14/data/scalar_group/xsinx/events.out.tfevents.1544608690.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-38_yijie-Lenovo-Y700P-14/data/scalar_group/arctanx/events.out.tfevents.1544608718.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-38_yijie-Lenovo-Y700P-14/data/scalar_group/xcosx/events.out.tfevents.1544608718.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-38_yijie-Lenovo-Y700P-14/data/scalar_group/xsinx/events.out.tfevents.1544608718.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-53_yijie-Lenovo-Y700P-14/events.out.tfevents.1544608733.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-53_yijie-Lenovo-Y700P-14/data/scalar_group/arctanx/events.out.tfevents.1544608733.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-53_yijie-Lenovo-Y700P-14/data/scalar_group/xcosx/events.out.tfevents.1544608733.yijie-Lenovo-Y700P-14
runs/Dec12_17-58-53_yijie-Lenovo-Y700P-14/data/scalar_group/xsinx/events.out.tfevents.1544608733.yijie-Lenovo-Y700P-14
